<!DOCTYPE html>
<html>

<head>
<style type='text/css'>
table td {
	border: none;
}

td.comment {
	color: #007500;
}

td.constant {
	color: #A52A2A;
}

td.keyword {
	color: #CC0099;
}

td.command {
	color: #0000FF;
}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<title>Figure 11.3</title>
<link rel='stylesheet' href='lib/css/bootstrap-3.css'>
<link rel='stylesheet' href='lib/assembly.css'>
</head>

<!-- controller for the lab -->
<body>

	<h1 class='text-center'>Figure 11.3</h1>
	<br>
	<!-- main container for the index -->
	<div ng-app='assembly' ng-controller='assemblycontroller'
		class='container'>


		<div class='row'>

			<div style='width:100%' id='table' id='fig113'>
				<table id='program' class='spanTable'>
					<tr>
						<td></td>
						<td></td>
						<td>TOTAL</td>
						<td class="keyword">.BLOCK</td>
						<td class="constant">1</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class="comment">reserve a block of memory one word long
							for 'total'.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>ABC</td>
						<td class="keyword">.WORD</td>
						<td class="constant">2</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class="comment">reserve a word of memory for variable
							'abc'. Initialize to 2.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>XYZ</td>
						<td class="keyword">.WORD</td>
						<td class="constant">3</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class="comment">reserve a word of memory for variable
							'xyz'. Initialize to 3.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOAD</td>
						<td>REGD,</td>
						<td>ABC</td>
						<td></td>
						<td>;</td>
						<td class="comment">load the value of variable 'abc' into
							register D.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOAD</td>
						<td>REGE,</td>
						<td>XYZ</td>
						<td></td>
						<td>;</td>
						<td class="comment">load the value of variable 'xyz' into
							register E.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>ADD</td>
						<td>REGF,</td>
						<td>REGD,</td>
						<td>REGE</td>
						<td>;</td>
						<td class="comment">add the contents of registers D and E
							placing the result in F.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>STORE</td>
						<td>REGF,</td>
						<td>TOTAL</td>
						<td></td>
						<td>;</td>
						<td class="comment">store the value held in register F into
							the variable 'total'.</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>HALT</td>
						<td></td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class="comment">halt execution of this assembly language
							program.</td>
					</tr>
				</table>
			</div>
			<br>
			<div class='row'>
			<div class='text-center'>
				<div class='btn-group-horizontal'>
					<button id='runButton' type='button' ng-class='buttonColor(runtext.name)' style='width:10%'
						ng-repeat='runtext in runText' ng-click='runButton()'>{{runtext.name}}</button>
					<button  id='walkButton' type='button' ng-class='buttonColor(walktext.name)' style='width:10%'
						ng-repeat='walktext in walkText' ng-click='walkButton()'>{{walktext.name}}</button>
				</div>
				</div>
			</div>
			<br>
			<!-- begining of the tabs -->
			<tabset class='col-lg-9'> <!-- demo tab - shows all of the information for the current lab -->
			<tab heading='Figure'> <br>
			<div class='container'>
				<div class='row'>
					<div
						class='col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1'>
						<div id='table' style='width: 90px'>
							<table id='variables' class='table table-bordered'>
								<thead>
									<tr>
										<th colspan='2' class='text-center'>Memory</th>
									</tr>
								</thead>
								<tbody ng-repeat='mem in varMemory'>
									<tr>
										<th>{{mem.title}}</th>
										<td class='text-center'>{{mem.value}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-2 col-xs-2' style='margin-left:4%'>
						<div id='table' style='width: 90px'>
							<table id='variables' class='table table-bordered'>
								<thead>
									<tr>
										<th colspan='2' class='text-center'>Register</th>
									</tr>
								</thead>
								<tbody ng-repeat='reg in varRegister'>
									<tr>
										<th>{{reg.title}}</th>
										<td class='text-center'>{{reg.value}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			</tab> <!-- editor tab where you can make changes to the code --> <tab
				heading='Editor' disabled='true'> <br>
			<div class='container'>
				<div class='row'>
					<div class='col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2'>

						<!-- table that shows the code -->
						<div id='table'
							style='overflow-y: scroll; border: 1px solid black; height: 200px; width: 350px'>
							<table id='commands'>
							</table>
						</div>
					</div>

					<!-- button group for the table and code -->
					<div class='col-lg-4 col-md-4'>
						<div id='editor_button_group'
							class='col-lg-4 col-md-4 btn-group-vertical'>
							<button type='button' class='btn btn-default'
								onclick='insertWord()'>Word</button>
							<button type='button' class='btn btn-default'
								onclick='insertBlock()'>Block</button>
							<button type='button' class='btn btn-default'
								onClick='insertLoad()'>Load</button>
							<button type='button' class='btn btn-default'
								onclick='insertStore()'>Store</button>
							<button type='button' class='btn btn-default'
								onclick='insertAdd()'>Add</button>
							<button type='button' class='btn btn-default'
								onclick='insertBranch()'>Branch</button>
						</div>
						<div id='editor_button_group'
							class='col-lg-4 col-md-4 btn-group-vertical'>
							<button type='button' class='btn btn-default'
								onclick='insertJump()'>Jump</button>
							<button type='button' class='btn btn-default'
								onclick='insertLoadImm()'>Load Imm</button>
							<button type='button' class='btn btn-default'
								onclick='insertAnd()'>And</button>
							<button type='button' class='btn btn-default'
								onclick='insertLoadIn()'>Load In</button>
							<button type='button' class='btn btn-default'
								onclick='insertStoreIn()'>Store In</button>
							<button type='button' class='btn btn-default'
								onclick='insertSub()'>Subtract</button>
						</div>
						<div id='editor_button_group'
							class='col-lg-4 col-md-4 btn-group-vertical'>
							<button type='button' class='btn btn-default'
								onclick='insertOr()'>Or</button>
							<button type='button' class='btn btn-default'
								onclick='insertCompare()'>Compare</button>
							<button type='button' class='btn btn-default'
								onclick='insertASL()'>ASL</button>
							<button type='button' class='btn btn-default'
								onclick='insertASR()'>ASR</button>
							<button type='button' class='btn btn-default'
								onclick='insertHalt()'>Halt</button>
							<button type='button' class='btn btn-default'
								onclick='insertNot()'>Not</button>
						</div>
					</div>
				</div>
			</div>

			</tab> <!-- tab containing the memory, register, program counters, and flags -->
			<tab heading='Architecture'> <br>
			<div class='container' style="width:100%;">
				<div class='row'>
					<div
						class='col-lg-3 col-md-3 col-sm-3 col-xs-3 panel panel-default'
						style="width: 245px; border: 1px solid;">
						<h4 style='text-align:center'>Memory</h4>
						<div class='spanMemWrapper' style='margin-right:5%; margin-bottom:5%;'>
							<div class='spanVarMem' >
								<table class='table table-bordered' ng-repeat='var in vars' style='table-layoud: fixed;'>
									<tr ng-style='set_color(var.memno)'>
										<th style='text-align:right'>{{var.memno}}</th>
										<td style='text-align:center'>{{var.con1}}</td>
										<td style='text-align:center'>{{var.con2}}</td>
										<td style='text-align:center'>{{var.con3}}</td>
										<td style='text-align:center'>{{var.con4}}</td>
									</tr>
								</table>
							</div>
							<div class='spanMem'>
								<table class='table table-bordered' ng-repeat='mem in memory' style='table-layout: fixed;'>
									<tr ng-style='set_color(mem.memno)'>
										<th style='text-align:right'>{{mem.memno}}</th>
										<td style='text-align:center'>{{mem.con1}}</td>
										<td style='text-align:center'>{{mem.con2}}</td>
										<td style='text-align:center'>{{mem.con3}}</td>
										<td style='text-align:center'>{{mem.con4}}</td>
									</tr>
								</table>
	
							</div>
						</div>
					</div>
					<div
						class='col-lg-1 col-md-1 col-sm-1 col-xs-1'
						style="height:auto; width: 10%; text-align:center; border: 1px solid; margin-top: 15%">Data Bus</div>
					<div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 panel panel-default' style='border: 1px solid'>
					<h3 style='text-align:center'>CPU</h3>
						<div class='panel panel-default' style='width: 100%;'>
							<!-- table containing the register information -->
							<div class='col-lg-4  col-md-4 col-sm-4 col-xs-4' style='margin-bottom:2.75%'>
								<h4>Registers</h4>
								<!-- I should be outside of this box -->
								<div class='spanReg'>
									<table class='table table-bordered'
										style='table-layout:auto;' ng-repeat='reg in register'>
										<tbody>
											<tr>
												<th style='text-align:center'>{{reg.content}}</th>
												<td class='text-center'>{{reg.value}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- program counter and instruction register table -->
							<div
								class='col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1' style='margin-top:10%'>
								<table class='table table-bordered'
									style='height: 100px; width: 170px;'>
									<tbody>
										<tr>
											<th class='text-center' colspan='4'>Program Counter</th>
										</tr>
										<tr>
											<td class='text-center' colspan='4'
												ng-repeat='cnt in counter'>{{cnt.content}}</td>
										</tr>
										<tr>
											<th class='text-center' colspan='4'>Instruction Register</th>
										</tr>
										<tr ng-repeat='inst in instructionRegister'
											class='text-center'>
											<td>{{inst.con1}}</td>
											<td>{{inst.con2}}</td>
											<td>{{inst.con3}}</td>
											<td>{{inst.con4}}</td>
										<tr>
									</tbody>
								</table>
								<!-- flag table -->
								<div class='row'>
									<div class='col-lg-2 col-md-2 col-sm-2 col-xs-2' style='margin-top:30%;'>
										<table class='table table-bordered'
											style='height: 150px; width: 170px;'>
											<thead>
												<tr>
													<th colspan='2' class='text-center'>Flags</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><strong>Carry</strong></td>
													<td class='text-center' ng-repeat='carry in carryFlag'>{{carry.flag}}</td>
												</tr>
												<tr>
													<td><strong>Negative</strong></td>
													<td class='text-center' ng-repeat='neg in negativeFlag'>{{neg.flag}}</td>
												</tr>
												<tr>
													<td><strong>Zero</strong></td>
													<td class='text-center' ng-repeat='zero in zeroFlag'>{{zero.flag}}</td>
												</tr>
												<tr>
													<td><strong>Overflow</strong></td>
													<td class='text-center' ng-repeat='over in overflowFlag'>{{over.flag}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</tab></tabset>
			<br>
		</div>
	</div>

	<!-- need to get it working so i dont need the online repositories -->
	<script type='text/javascript' src='lib/js/angular.js'></script>
	<script type='text/javascript' src='lib/js/jQuery.js'></script>
	<script type='text/javascript' src='lib/js/less.js'></script>
	<script type='text/javascript' src='lib/js/ui-bootstrap-0.10.0.js'></script>
	<script type='text/javascript' src='lib/js/tabs.js'></script>
	<script type='text/javascript' src='lib/js/ui-bootstrap.js'></script>
	<script type='text/javascript' src='js/assemblyui.js'></script>
	<script type='text/javascript' src='js/inputs.js'></script>
	<script></script>
</body>
</html>
<!-- vim: set ts=2 sw=2 tw=0 noet :-->
