<!DOCTYPE html>
<html>

<head>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<title>Figure 11.9</title>
	<link rel='stylesheet' href='lib/css/bootstrap-3.css'>
	<link rel='stylesheet' href='lib/assembly.css'>
</head>

<!-- controller for the lab -->
<body>

	<h1 class='text-center'>Figure 11.9</h1>
	<br>
	<!-- main container for the index -->
	<div ng-app='assembly' ng-controller='assemblycontroller' class='container'>


		<div class='row'>

			<div id='fig119' class='figure'>
				<table id='program' class='spanTable'>
					<tr>
						<td></td>
						<td></td>
						<td>X</td>
						<td class='keyword'>.WORD</td>
						<td class='constant'>5</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class='comment'>declare and initialize 'x' to 5 &#47;&#42; first operand &#42;&#47;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>Y</td>
						<td class='keyword'>.WORD</td>
						<td class='constant'>4</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class='comment'>declare and initialize 'y' to 4 &#47;&#42; second operand &#42;&#47;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>Z</td>
						<td class='keyword'>.BLOCK</td>
						<td class='constant'>1</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class='comment'>declare 'z' &#47;&#42; z will hold the product of the operands &#42;&#47;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>I</td>
						<td class='keyword'>.BLOCK</td>
						<td class='constant'>1</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class='comment'>declare 'i' &#47;&#42; i counts the number of loop iterations &#42;&#47;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOADIMM</td>
						<td>REGA,</td>
						<td class='constant'>0</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>STORE</td>
						<td>REGA,</td>
						<td>Z</td>
						<td></td>
						<td>;</td>
						<td class='comment'>z = 0;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOADIMM</td>
						<td>REGA,</td>
						<td class='constant'>1</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>STORE</td>
						<td>REGA,</td>
						<td>I</td>
						<td></td>
						<td>;</td>
						<td class='comment'>i = 1;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>LOOP</td>
						<td class='command'>LOAD</td>
						<td>REGA,</td>
						<td>I</td>
						<td></td>
						<td>;</td>
						<td class='comment'>while(i<=y)</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOAD</td>
						<td>REGB,</td>
						<td>Y</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>COMPARE</td>
						<td>REGA,</td>
						<td>REGB</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>BRANCH</td>
						<td>GT,</td>
						<td>ENDLP</td>
						<td></td>
						<td>;</td>
						<td class='comment'>{</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOAD</td>
						<td>REGA,</td>
						<td>Z</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOAD</td>
						<td>REGB,</td>
						<td>X</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>ADD</td>
						<td>REGC,</td>
						<td>REGA,</td>
						<td>REGB</td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>STORE</td>
						<td>REGC,</td>
						<td>Z</td>
						<td></td>
						<td>;</td>
						<td class='comment'>z = z + x;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOAD</td>
						<td>REGA,</td>
						<td>I</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>LOADIMM</td>
						<td>REGB,</td>
						<td class='constant'>1</td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>ADD</td>
						<td>REGC,</td>
						<td>REGA,</td>
						<td>REGB</td>
						<td>;</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>STORE</td>
						<td>REGC,</td>
						<td>I</td>
						<td></td>
						<td>;</td>
						<td class='comment'>i = i + 1;</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td class='command'>JUMP</td>
						<td>LOOP</td>
						<td></td>
						<td></td>
						<td>;</td>
						<td class='comment'>}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>ENDLP</td>
						<td class='command'>HALT</td>
						<td></td>
						<td></td>
						<td></td>
						<td>;</td>
						<td></td>
					</tr>
				</table>
			</div>
			<br>
			<div class='text-center'>
				<div class='btn-group-horizontal'>
					<button id='runButton' type='button' ng-class='buttonColor(runText)' ng-click='runButton()' ng-bind='runText'></button>
					<button id='walkButton' type='button' ng-class='buttonColor(walkText)' ng-click='walkButton()' ng-bind='walkText'></button>
				</div>
			</div>
			<br>
			<!-- begining of the tabs -->
			<tabset class='col-lg-9'> <!-- demo tab - shows all of the information for the current lab -->
			<tab heading='Figure'> <br>
			<div class='container'>
				<div class='row'>
					<div class='col-lg-2 col-md-2 col-sm-2 col-xs-3'>
						<div id='table'>
							<table id='variables' class='table table-bordered'>
								<thead>
									<tr>
										<th colspan='2' class='text-center'>Memory</th>
									</tr>
								</thead>
								<tbody ng-repeat='mem in varMemory'>
									<tr>
										<th ng-bind='mem.title'></th>
										<td class='text-center' ng-bind='mem.value'></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class='col-lg-2 col-md-2 col-sm-2 col-xs-3' style='margin-left:4%'>
						<div id='table'>
							<table id='variables' class='table table-bordered'>
								<thead>
									<tr>
										<th colspan='2' class='text-center'>Register</th>
									</tr>
								</thead>
								<tbody ng-repeat='reg in varRegister'>
									<tr>
										<th ng-bind='reg.title'></th>
										<td class='text-center' ng-bind='reg.value'></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			</tab>

			<tab heading='Editor' disabled='true'> </tab>
			<!-- tab containing the memory, register, program counters, and flags -->
			<tab heading='Architecture'> <br>
			<div class='container'>
				<div id='memory' class='col-lg-3 col-md-3 col-sm-3 col-xs-4 panel panel-default'>
					<h4 class='text-center'>Memory</h4>
					<div id='spanMemWrapper'>
						<div id='spanVarMem' >
							<table class='table table-bordered' ng-repeat='var in vars' style='table-layout: fixed;'>
								<tr ng-style='set_color(var.memno)'>
									<th ng-bind='var.memno'></th>
									<td ng-bind='var.con1'></td>
									<td ng-bind='var.con2'></td>
									<td ng-bind='var.con3'></td>
									<td ng-bind='var.con4'></td>
								</tr>
							</table>
						</div>
						<div id='spanMem'>
							<table class='table table-bordered' ng-repeat='mem in memory' style='table-layout: fixed;'>
								<tr ng-style='set_color(mem.memno)'>
									<th ng-bind='mem.memno'></th>
									<td ng-bind='mem.con1'></td>
									<td ng-bind='mem.con2'></td>
									<td ng-bind='mem.con3'></td>
									<td ng-bind='mem.con4'></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div id='bus'>Data Bus</div>
				<div id='cpu' class='col-lg-6 col-md-6 col-sm-6 col-xs-6 panel panel-default'>
				<h3 class='text-center'>CPU</h3>
					<div class='panel panel-default' style='width: 100%;'>
						<!-- table containing the register information -->
						<div id='registers' class='col-lg-4  col-md-4 col-sm-4 col-xs-6'>
							<h4>Registers</h4>
							<!-- I should be outside of this box -->
							<div id='spanReg'>
								<table class='table table-bordered' style='table-layout:auto;' ng-repeat='reg in register'>
									<tbody>
										<tr>
											<th class='text-center' ng-bind='reg.content'></th>
											<td class='text-center' ng-bind='reg.value'></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- program counter and instruction register table -->
						<div id='counter-flags' class='col-lg-2 col-md-2 col-sm-4 col-xs-6'>
							<table class='table table-bordered'>
								<tbody>
									<tr>
										<th class='text-center' colspan='4'>Program Counter</th>
									</tr>
									<tr>
										<td class='text-center' colspan='4' ng-repeat='cnt in counter' ng-bind='cnt.content'></td>
									</tr>
									<tr>
										<th class='text-center' colspan='4'>Instruction Register</th>
									</tr>
									<tr ng-repeat='inst in instructionRegister' class='text-center'>
										<td ng-bind='inst.con1'></td>
										<td ng-bind='inst.con2'></td>
										<td ng-bind='inst.con3'></td>
										<td ng-bind='inst.con4'></td>
									<tr>
								</tbody>
							</table>
							<!-- flag table -->
							<table class='table table-bordered'>
								<thead>
									<tr>
										<th colspan='2' class='text-center'>Flags</th>
									</tr>
								</thead>
								<tbody>
								<tr>
									<td><strong>Carry</strong></td>
									<td class='text-center' ng-repeat='carry in carryFlag' ng-bind='carry.flag'></td>
								</tr>
								<tr>
									<td><strong>Negative</strong></td>
									<td class='text-center' ng-repeat='neg in negativeFlag' ng-bind='neg.flag'></td>
								</tr>
								<tr>
									<td><strong>Zero</strong></td>
									<td class='text-center' ng-repeat='zero in zeroFlag' ng-bind='zero.flag'></td>
								</tr>
								<tr>
									<td><strong>Overflow</strong></td>
									<td class='text-center' ng-repeat='over in overflowFlag' ng-bind='over.flag'></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			</tab></tabset>
			<br>
		</div>
	</div>

	<!-- need to get it working so i dont need the online repositories -->
	<script type='text/javascript' src='lib/js/angular.js'></script>
	<script type='text/javascript' src='lib/js/jQuery.js'></script>
	<script type='text/javascript' src='lib/js/less.js'></script>
	<script type='text/javascript' src='lib/js/ui-bootstrap-0.10.0.js'></script>
	<script type='text/javascript' src='lib/js/tabs.js'></script>
	<script type='text/javascript' src='lib/js/ui-bootstrap.js'></script>
	<script type='text/javascript' src='js/assemblyui.js'></script>
	<script type='text/javascript' src='js/inputs.js'></script>
	<script></script>
</body>
</html>
<!-- vim: set ts=2 sw=2 tw=0 noet :-->
